
<div id="bg-alt">
  <a href="/dashboard" id="header"><img src="/images/logo.png"></a>
  
  <%-partial('usermenu.ejs')%>
  <div id="main-alt" class="main-large">
  <h1></h1>
 
 
  <div class="clear"></div>
 
</div>
