<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title><%=title%></title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content=""> 
<meta name="keywords" content=""> 
 
 
<link href="/css/style.css" rel="stylesheet" type="text/css"> 
<link href="/css/uniform.default.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/dist/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/dist/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/jquery.jqplot.css" />


<script type="text/javascript" src="/js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/d3.v2.min.js"></script>
<% if(locals.js) { %><script type="text/javascript" src="/js/<%=js%>.js"></script><% } %>
<script type="text/javascript" src="/dist/a.js"></script>
<script type="text/javascript" src="/dist/b.js"></script>
</head> 
 
<body> 
<%-body%>
</body> 
</html> 
